{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">&copy;</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hace varios años atrás me dedicaba a dictar clases de apoyo en el área de biología y química...es un pasatiempo que muchas veces lo pienso y luego me pregunto y digo: ¿será que voy a aceptar nuevamente en tener estudiantes para capacitar para el ingreso a la facultad de medicina y de veterinaria o quizas mi mente y cuerpo me pida que siga en este camino de la programación?</p>
        <br>
        <p><u>"Si tenes alguna duda, por favor llamame al número que figura debajo"</u></p>
        <p><b>Teléfono:</b> 3731-444814</p>
        
        <!-- <p><b>Honorarios:</b> $ 1500 la consulta </p> -->
    </div>
</div>
{% endblock %}

