{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portada{% endblock %}


    <style>
        body {
            background: url("{% static 'core/img/educacion2.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>


{% block headers %}
    <h1>Néstor Gustavo Palacios Meyer</h1>
    <span class="subheading">Profesor en Biología y Técnico Univ. en Informática</span>
{% endblock %}

{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'core/img/pareja.jpg' %}" class="d-block w-25" alt="primera foto">
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/pareja2.jpg' %}" class="d-block w-25" alt="segunda foto">
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/suegro.jpg' %}" class="d-block w-25" alt="mi mujer y mi suegro">
            </div>
        </div>
    </div>
{% endblock %}

